// Variables


$dark-grey: #3a3a3a; //menus, footer, darkest text, etc.
$text-grey: #565656; //main body text
$mid-grey: #686868; // slightly lighter headings, etc.
$grey-border: #e0e0e0;
$light-grey: #f4f4f4;

$white: #fff;
$blue: #1e679b;
$green: #52a349;
$purple: #691e9b; //visited links


// Generic Classes

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


.clearfix {
    @clearfix;
}

.centered {
    text-align: center;
}


// Ribs overrides - changes that cannot be made by changing ribs variables file

.button,
button,
input.button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;

    &:hover {
        background-image: none;
        -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,.2);
        box-shadow:inset 0 0 4px 1px rgba(0,0,0,.2);
    }
}

.button.grey {
    background-image: none;
    background-color: $dark-grey;

    &:hover {
        -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,.2);
        box-shadow:inset 0 0 4px 1px rgba(0,0,0,.2);
    }
}

.button.block {
    display: block;
    min-width: 120px;
}

.button.large {
    font-size: 20px;
    padding: 6px 25px;
}


// Forms & Tables

form {
    margin-top: 20px;
}

fieldset {
    border: 0;
    padding: 0;
}

table {
    margin-top: 20px;
}


// Typography

h1 {
    text-transform: uppercase;
}

h4, h5, h6 {
    font-family: 'Oxygen', 'Helvetica', arial, sans-serif;
    font-weight: bold;
}

h5, h6 {
    margin-bottom: 10px;
}

ul {
    margin-left: 30px;

    li {
        list-style-type: disc;
    }
}

ol {
    margin-left: 30px;
}


// Ribs colour overrides - using new colour variables

a,
a:hover,
a:focus {
    color: $blue;
}

a:visited {
    color: $purple;
}


// Header

body {
    color: $text-grey;
}

header {
    background-color: #f8f8f8;
    border-bottom: 2px solid $grey-border;
    position: relative;

    .nav-bg {
        background-color: $dark-grey;
        width: 100%;
        position: absolute;
    }

    .logo {
        position: absolute;
        top: 18px;
    }

    .nav {
        float: right;

        li {
            background-color: $dark-grey;
            display: inline-block;
            float: left;
            transform: skew(30deg);
            -o-transform: skew(30deg);
            -moz-transform: skew(30deg);
            -webkit-transform: skew(30deg);
            margin: 0;
            padding: 0;
        }

        li.active,
        li:hover {
            background-color: $blue;
            -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,.1);
            box-shadow:inset 0 0 4px 1px rgba(0,0,0,.1);
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 17px;
            transform: skew(-30deg);
            -o-transform: skew(-30deg);
            -moz-transform: skew(-30deg);
            -webkit-transform: skew(-30deg);
            display: inline-block;
            padding: 18px 22px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }
    }

    .ctas {
        margin: 10px 10px 25px 0;

        .first {
            margin-bottom: 5px;
        }
    }

    .dates {
        text-align: right;
        margin: 10px 30px 0 0;
        padding: 5px 30px 5px 0;
        border-right: 1px solid $grey-border;

        h2 {
            font-size: 25px;
            line-height: 1;
            margin: 0 0 7px 0;
            color: $text-grey;

            sup {
                text-transform: uppercase;
                font-size: 50%;
                top: -1em;
            }
        }

        p  {
            line-height: 1;
            margin: 0;
            font-size: 17px;
        }
    }
}

.mobile-menu {
    display: none;
}


//  Stay in touch

.stay-in-touch {
    margin: 0 0 0 40px;

    li {
        list-style-type: none;
    }

    i {
        color: $dark-grey;
        font-size: 16px;
        padding-right: 5px;
    }
}


// Footer

.footer-overlay {

}

footer {

    -webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,.4);
    box-shadow:inset 0 0 4px 1px rgba(0,0,0,.4);
    margin-top: 100px;
    background-color: $dark-grey;
    color: $white;

    .footer-links {
        float: left;
        margin: 35px 60px 35px 0;

        li {
            list-style-type: none;
            padding: 0;
            margin: 5px 0;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    .footer-conf-dates {
            margin: 38px 0 35px 0;
            float: left;

            li {
                list-style-type: none;
                padding-left: 32px;
                margin: 5px 0 15px 0;
                background: url('../../img/cal-white.png') no-repeat 0 5px;

                strong {
                    color: $white;
                }
            }
    }

    .white-logo {
        margin-top: 40px;
    }

    .stay-in-touch {
        display: none;
    }
}

.bottom-footer {
    font-size: 13px;
    color: #a5c2d7;
    border-top: 1px solid #333;
    position: relative;

    span {
        margin-right: 30px;
        padding: 15px 0;
        display: inline-block;

        a {
            color: #a5c2d7;
        }
    }

    .cc-credit {
        background-color: #30495a;
        transform: skew(30deg);
        -o-transform: skew(30deg);
        -moz-transform: skew(30deg);
        -webkit-transform: skew(30deg);
        padding: 15px 0 15px 30px;

        span {
            margin: 0;
            display: inline-block;
            padding: 0;
            color: #9eacb4;
            transform: skew(-30deg);
            -o-transform: skew(-30deg);
            -moz-transform: skew(-30deg);
            -webkit-transform: skew(-30deg);
        }

        a {
            color: #9eacb4;
            padding: 0;
        }
    }
}

.bottom-footer-bg {
    background-color: $blue;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    z-index: -2;
}

.dark-bottom-footer {
    background-color: #30495a;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    z-index: -1;

}


// Responsive

@media only screen and (max-width : 1170px) {
    header .nav li a {
        font-size: 15px;
        padding: 15px;
    }

    .logo {
        max-width: 230px;
        margin-top: 19px;
    }

    .dark-bottom-footer {
        display: none;
    }

    .bottom-footer {
        span {
            padding: 10px 0;
        }

        .cc-credit {
            background-color: $blue;
            transform: skew(0deg);
            -o-transform: skew(0deg);
            -moz-transform: skew(0deg);
            -webkit-transform: skew(0deg);
            padding: 0 0 10px 0;
            float: none;

            span {
                margin: 0;
                display: inline-block;
                padding: 0;
                color: #a5c2d7;
                transform: skew(0deg);
                -o-transform: skew(0deg);
                -moz-transform: skew(0deg);
                -webkit-transform: skew(0deg);
            }

            a {
                color: #a5c2d7;
                padding: 0;
            }
        }
    }

}

@media only screen and (max-width : 900px) {
    .logo {
        max-width: 180px;
        margin-top: 45px;

    }
}


@media only screen and (max-width : 768px) {
    header {
        padding-top: 15px;
        text-align: center;
        border-bottom: 0;

        .logo {
            position: static;
            margin-top: 0;
        }

        .nav-bg {
            display: none;
        }

        .nav {
            display: none;
            float: none;
            margin: 0;

            li {
                float: none;
                display: block;
                transform: skew(0deg);
                -o-transform: skew(0deg);
                -moz-transform: skew(0deg);
                -webkit-transform: skew(0deg);

                a {
                    display: block;
                    transform: skew(0deg);
                    -o-transform: skew(0deg);
                    -moz-transform: skew(0deg);
                    -webkit-transform: skew(0deg);
                }
            }
        }

        .dates {
            float: none;
            margin: 10px 0 20px 0;
            padding: 0;
            border: 0;
            text-align: center;
        }

        .ctas {
            float: none;
            margin: 10px auto 20px auto;
            text-align: center;

            .button.block {
                display: inline-block;
            }
        }

    }

    .mobile-menu {
        display: block;
        background-color: $dark-grey;

        .mobile-nav {
            display: none;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
        }

        a {
            color: $white;
            text-decoration: none;
            display: block;
            padding: 15px 30px;
            border-bottom: 1px solid #333;
            font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: normal;

            i {
                margin-top: 2px;
            }
        }

        a.active,
        a:hover {
            background-color: $blue;
        }
    }

    .sidebar-menu {
        margin-top: 40px;
    }

    footer {
        margin-top: 40px;
        padding-top: 20px;
        text-align: center;

        .footer-links {
            margin: 30px 0;
            float: none;
        }

        .footer-conf-dates {
            float: none;
            margin: 30px auto;

            li {
                padding: 0;
                background-image: none;
            }
        }
    }

    .bottom-footer {
        padding: 20px 0;

        span {
            margin: 0;
            display: block;
            text-align: center;
            padding: 5px 0;
        }

        .cc-credit {
            padding: 5px 0;
        }
    }
}
